<div class="flex h-screen flex-col place-content-center">
    <div class="my-2 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4">
    <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">{{name}}</div>
        <p class="text-gray-700 text-base">{{description}}</p>
    </div>
    <div class="flex items-center">
        <div class="text-sm">
        <p class="text-gray-900 leading-none">{{user.name}}</p>
        <p class="text-gray-600">{{date_created}}</p>
        </div>
    </div>
    </div>
    <div class="md:p-4 m-20 space-y-4 justify-center bg-lime-600 rounded">
        <div class="mb-6">
            <label for="content" class="block mt-4 text-sm font-medium text-gray-900 dark:text-white">Comment:</label>
            <input type="text" id="comment" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <button
            type='submit'
            id="add-comment"
            data-id="{{id}}"
            class='bg-violet-700 hover:bg-rose-200 text-white font-bold py-2 px-4 rounded'>
            Leave Comment
        </button>
    </div>
</div>