<div class="flex h-screen flex-col place-content-center items-center break-all">
  {{#each posts as |post|}}
  <div>
    <div class="my-2 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4">
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">{{post.name}}</div>
        <p class="text-gray-700 text-base">{{post.description}}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{post.user.name}}</p>
          <p class="text-gray-600">{{post.date_created}}</p>
        </div>
      </div>
      <a href="/post/{{post.id}}" 
          class=" py-1 pl-1.5 pr-1 bg-rose-200 hover:bg-violet-700 text-white font-bold rounded">
          Leave Comment</a>
    </div>
  </div>
  {{/each}}
</div>